<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org " xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org">
<head>
    <title>Web Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<script type="text/javascript">
    function handleClick(lang_radio) {
        if (lang_radio.value != '') {
            window.location.replace('?l=' + lang_radio.value);
        }
    }
</script>
<body>
<div class="column">
    <form name="language_selection" action="#" th:action="@{/index}" th:object="${language}" method="post" align="right">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1" th:field="*{choice}" onchange="handleClick(this).value" >
            <option th:each="current : ${supported}" th:value="${current.code}"  th:text="${current.code}"></option>

        </select>
    </form>
    <h1 th:text="#{lobby.welcome}">Header</h1>
    <div>

        <br/>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Role</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <th scope="row" th:text="${user.id}"></th>
                <td th:text="${user.firstName}" ></td>
                <td th:text="${user.lastName}" ></td>
                <td th:text="${user.role}"></td>
            </tr>

            </tbody>
        </table>
    </div>
    <br/>

    </div>
    <form th:action="@{/logout}" method="post">
        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
</body>
</html>