<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <title>login</title>
</head>

<body>
<div class="container" style="align-items: center">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default" style="margin-top:45px">
                <div class="panel-heading">
                    <h3 class="panel-title">Registration</h3>
                </div>

                <div class="panel-body">


                    <form action="/registration" th:object="${user}" method="post">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Email"
                                   th:name="email">
                        </div>

                        <div class="form-group">
                            <label for="first_name">Name</label>
                            <input type="text" class="form-control" id="first_name" placeholder="Name"
                                   th:name="firstName">
                        </div>

                        <div class="form-group">
                            <label for="first_name_cyr">Имя</label>
                            <input type="text" class="form-control" id="first_name_cyr" placeholder="Имя"
                                   th:name="firstNameCyr">
                        </div>

                        <div class="form-group">
                            <label for="last_name">Surname</label>
                            <input type="text" class="form-control" id="last_name" placeholder="Surname"
                                   th:name="lastName">
                        </div>


                        <div class="form-group">
                            <label for="last_name_cyr">Фамилия</label>
                            <input type="text" class="form-control" id="last_name_cyr" placeholder="Фамилия"
                                   th:name="lastNameCyr">
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input  type="text" class="form-control" id="username" placeholder="Username"
                                   th:name="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input path="password" type="password" class="form-control" id="password" placeholder="Password"
                                   th:name="password">
                        </div>
                        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden" >
                        <button type="submit" class="btn btn-primary">Registration</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>